html,body{
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
}

html{
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    scroll-behavior: smooth;
}

.navBar{
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;;
    line-height: 70px;
}

.navMenus{
    margin: 0 30px 0 0;
}

.navMenus a{
    text-decoration: none;
    color: gray;
    font-weight: bolder;
    margin: 0 18px;
    line-height: 70px;
}
.navBar span{
    color: rgb(64, 64, 247);
}

.navBar label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
   
    }
.navBar .name{
    float: left;    
    font-size: 18px;
    margin:25px 0 0 15px; 
   
}

#toggleMenu{
    display: none;
}


.skills-section{
    margin:100px 0 0 0;
    position: relative;
}

.skills-section h4{
    color: white;
    position: relative;
    z-index: 100;
}
.container{
    margin-top:50px;
    margin-bottom:50px;
}


.designation-background{
    background: rgb(64, 64, 247);
    height: 100px;
    width: 330px;
    position: absolute;
    top: -20px;
    left: -30px;
  
}
.line{
    height: 4px;
    width: 100px;
    background:black;
}
.sideline{
    height: 4px;
    width: 100px;
    background:black;
    position: absolute;
    left: -110px;
}
.col-centered{
    float: none;
    margin:0 auto;
}
.skills-box{
    background: white;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 10px;
    -webkit-box-shadow: -1px 0px 34px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: -1px 0px 34px 0px rgba(0,0,0,0.12);
    box-shadow: -1px 0px 34px 0px rgba(0,0,0,0.12);
    margin: 20px 10px ;
    text-align:center;
    padding: 30px;

}


#projects-section{
    background: rgb(64, 64, 247);
    clip-path: polygon(100% 0, 100% 49%, 86% 100%, 0 100%, 0 0);

}

#projects-section img{
    max-height: 100%;
    object-fit: contain;
}

#projects-section h2 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding-top:50px;
    padding-bottom: 3em;
}


.projectcard{
    background-color: #EAEAEB;
    height: 230px;
    width: 230px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
    /* position: relative; */
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 30px;
    

}



@media only screen and (max-width:500px){
    .navBar label{
        display: block;
        cursor: pointer;
       
        
    }
    .navMenus{
        text-align: center;
        width: 100%;
        display: none;
    }
    .navMenus a{
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin:0;
    }
    #toggleMenu:checked + .navMenus{
        display: block; 
        
    }
    
}

@media only screen and (max-width:1000px){
    #projects-section{
        background: rgb(64, 64, 247);
        /* clip-path: none; */
        clip-path: polygon(100% 0, 100% 80%, 84% 100%, 0 100%, 0 0);

    }   
}